html {
    font-size: 62.5%;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #C8F7FF;
    border-top: #000 solid 2px;
    padding: 10px 20px 0;

    .logo {
        width: 120px;
    }

    .hamburgerWrap {
        #input {
            width: auto;
            display: none;
        }
    }

    #input:checked~.nav {
        right: -10%;
        animation: 0.5s fadeIn;
    }

    #input:checked~.main {
        opacity: 0.2;
        animation: 0.5s;
    }

    .nav {
        padding: 10px 30px 0 0;
        position: fixed;
        top: 100px;
        right: -80%;
        transition: right 0.3s ease;
        width: 80%;
        height: 60%;
        background-color: #d9d9d9;
        border-radius: 5%;
        z-index: 10;
    }

    .accordion {
        padding: 0 19px;
        margin: 10px 0;

        .accordionWrap {
            font-size: 2rem;
            animation: 0.2s ease;
        }

        .accordionContent {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.6rem;
            margin: 20px 0;
        }
    }
}

.main {
    margin: 20px 16px;

    .profileWrap {
        height: 100px;
        margin: 0 5px;
        border: #d9d9d9 solid 1px;
        border-radius: 5px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        margin-bottom: 1rem;

        .profileContent {
            display: flex;
            align-items: center;
            padding: 15px 10px;

            .profileImg {
                width: 70px;
                height: 70px;
                border-radius: 100%;
            }

            .profileInfo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 15px;

                #profileNum {
                    font-size: 1.5rem;
                    padding-left: 3px;
                }

                .profileName {
                    font-size: 2.4rem;
                }

                .profileId {
                    padding-left: 24px;
                    height: 25px;
                    line-height: 22px;
                    position: relative;
                    font-size: 1.4rem;
                    text-decoration: none;
                    color: #000;
                    border: #d9d9d9 solid 1px;
                    border-radius: 5px;

                    &::before {
                        margin: 0 auto;
                        position: absolute;
                        content: "";
                        left: 0;
                        padding: 0;
                        width: 24px;
                        height: 24px;
                        background-image: url(../images/menu_icon.png);
                    }
                }
            }
        }
    }

    h1 {
        font-size: 2rem;
        margin: 2rem 0 1rem 0.5rem;
    }

    .boardWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin: 0 5px;

        .boardTop {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .boardBottom {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .board {
            display: flex;
            flex-direction: column;
            width: 170px;
            height: 110px;
            padding: 10px;
            border: #d9d9d9 solid 1px;
            box-shadow: 0 2px rgba(0, 0, 0, 0.25);
            border-radius: 10px;

            .boardTitle {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;
                margin-bottom: 5px;

                img {
                    width: 24px;
                    height: 24px;
                }

                h3 {
                    font-size: 1.5rem;
                    font-weight: normal;
                }
            }

            .boardInner {
                p {
                    font-size: 4rem;
                    font-weight: 500;
                    margin-left: 6px;
                }
            }
        }
    }

    .addTaskWrap {
        margin: 20px 6px;
        height: 60px;

        .addTask {
            width: 100%;
            height: 100%;
            color: #fff;
            font-size: 1.6rem;
            background-color: #5d70ff;
            border-radius: 10px;
            transition: 0.2s;

            &:hover {
                background-color: #3e51e2;
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5eaee;
    height: 75px;

    .footerLi {
        display: flex;
        gap: 32px;
        justify-content: space-evenly;
        position: sticky;
        bottom: 0;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;

            p {
                font-size: 1.4rem;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}