html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(to bottom,
            rgba(239, 246, 255, 1) 0%,
            rgb(236, 255, 255)100%);
}

.main {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    background-color: #fff;
    background-image: linear-gradient(to bottom,
            rgba(239, 246, 255, 1) 0%,
            rgba(236, 254, 255, 1)100%);

    .backBtn {
        width: 120px;
        height: 60px;
        position: absolute;
        left: 100px;
        bottom: 70px;
        font-size: 3rem;
        text-align: center;
        background-color: #fff;
        border: #afaeae solid 1px;
        border-radius: 3rem;
        box-shadow: 0 3px 5px #c6c5c5;
        opacity: 0.7;
        transition: 0.2s;

        &:hover {
            opacity: 1;
            box-shadow: 0 3px 10px #c6c5c5;
        }

        button {
            width: 100%;
            height: 100%;
            border-radius: 3rem;
            color: #a5abb5;
            line-height: 50px;
            background-color: #fff;

            &:hover {
                color: #000;
            }
        }
    }

    .mainWrapper {
        background-color: #fff;
        position: relative;
        text-align: center;
        align-items: center;
        border-top: #E2D89B 10px solid;
        width: 1400px;
        height: 100%;
        padding-top: 20px;
        border-radius: 2rem;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);


        .innerWrap {
            display: flex;
            width: 100%;
            gap: 10%;
            overflow: hidden;
            transition: transform 0.4s ease;

            #slider {
                display: flex;
                transition: transform 0.4s ease;
                margin: auto 4%;

            }

            .slider {
                transition: transform 0.4s ease;
            }

            #slider1 {
                transition: transform 0.4s ease;
                /* opacity: 1; */
                margin-left: 4%;
            }

            #slider2 {
                margin: 0 13%;

            }

            #slider3 {
                margin-right: 13%;
            }

            .question {
                flex: 0 0 100%;
                margin: 2% 5%;
                transition: transform 0.4s ease;
            }

            .progress {
                display: flex;
                flex-direction: row;
                width: 12%;
                height: 55px;
                background-image: linear-gradient(to right,
                        rgb(212, 206, 158)0%,
                        rgb(216, 211, 187)100%);
                border-radius: 4rem;
                justify-content: center;
                align-items: center;
                margin-bottom: 5rem;

                h3 {
                    font-size: 2rem;
                    color: #fff;
                }
            }

            .title {
                text-align: center;

                h2 {
                    font-size: 3rem;
                    margin-bottom: 1.6rem;
                }

                p {
                    font-size: 1.8rem;
                    margin-bottom: 4rem;
                }
            }

            .contents {
                display: flex;
                flex-direction: row;
                gap: 110px;
                margin-bottom: 7rem;
                transition: transform 0.4s ease-in;

                .content {
                    width: 270px;
                    height: 270px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 2rem;
                }

                #sunContent {
                    background-color: #FFF4E6;
                    border: 2px solid #d9d9d9;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                        background-color: #fce1bd;
                        border: 5px solid #ebb977;
                    }
                }

                #cloudContent {
                    background-color: #E8F8F7;
                    border: 2px solid #d9d9d9;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                        background-color: #abe9e5;
                        border: 5px solid #78bcb8;
                    }
                }

                #rainContent {
                    background-color: #dfe5f3;
                    border: 2px solid #d9d9d9;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                        background-color: #a7bff4;
                        border: 5px solid #84a2e1;
                    }
                }
            }
        }

        .pos0 {
            transform: translateX((0));
        }

        .pos1 {
            transform: translateX(-46%);
        }

        .pos2 {
            transform: translateX(-92%);
        }

        .notes {
            font-size: 2rem;
            color: #99A1AF;
            margin-bottom: 2rem;
        }

        .logo {
            width: 25%;
        }
    }
}

@keyframes wrapMove {
    0% {
        opacity: 0;
        transform: scale(0.8);
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        transform: scale(1);
    }
}

@keyframes move {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes imgMove {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.compWrap {
    width: 40%;
    height: 600px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    border-radius: 50px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    animation: wrapMove 0.3s ease-in-out;

    img {
        width: 15%;
        animation: imgMove 0.5s ease-in-out;
    }

    h1 {
        font-size: 7rem;
        margin-bottom: 3rem;
    }

    p {
        text-align: center;
        font-size: 3rem;
        color: #4A5565;
        margin-bottom: 4rem;
        animation: move 0.4s ease-in;
    }

    a {
        display: flex;
        width: 200px;
        height: 80px;
        color: #fff;
        font-size: 2.6rem;
        text-decoration: none;
        background-image: linear-gradient(to right,
                rgb(212, 206, 158)0%,
                rgb(206, 202, 180)100%);
        border-radius: 4rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 5.6rem;
        transition: 0.2s ease-in-out;
        transform: translateY(0);
        box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.25);
        animation: move 0.5s ease-in;


        &:hover {
            transform: scale(1.1);
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.4);
        }
    }
}

.none {
    display: none;
}

.block {
    display: block;
}