html {
    font-size: 62.5%;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
    margin-top: 50px;
}

.thankBefore {
    display: none;
}

.thankAfter {
    display: block;
    text-align: center;
    margin-top: 150px;



    a {
        font-size: 2.5rem;
        text-decoration: none;
        color: #fff;
        padding: 20px 40px;
        border-radius: 25px;
        background-color: #E2D89B;
        box-shadow: 2px 3px 5px #d9d9d9;
    }
}

main {
    font-size: 1.2rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    margin: 0 50px 40px;

    h3 {
        font-size: 2.2rem;
        font-weight: normal;
        margin-bottom: 3px;
    }

    .input {
        width: 140px;
        height: 40px;
        padding: 6px;
        font-size: 2rem;
        border-radius: 10px;
        border: rgba(0, 0, 0, 0.25) solid 1px;
    }

    #date {
        width: 180px;
        padding: 4px;
        border-radius: 10px;
        border: rgba(0, 0, 0, 0.25) solid 1px;
    }

    .thankInput {
        width: 100%;
        height: 100px;
        font-size: 2rem;
        padding: 4px;
        border-radius: 10px;
        border: rgba(0, 0, 0, 0.25) solid 1px;
    }

    .centerThank {
        text-align: center;

        .thankBtn {
            width: 150px;
            height: 45px;
            font-size: 2rem;
            background-image: linear-gradient(to right,
                    rgb(212, 206, 158)0%,
                    rgb(206, 202, 180)100%);
            color: #fff;
            border-radius: 10px;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5eaee;
    height: 75px;

    .footerLi {
        display: flex;
        gap: 32px;
        justify-content: space-evenly;
        position: sticky;
        bottom: 0;

        #home {
            opacity: 0.5;
        }

        #news {
            opacity: 0.5;
        }

        #administrator {
            opacity: 0.5;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;

            p {
                font-size: 1.5rem;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}