body {
    font-size: 62.5%;
}

.title {
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
}

.thankBefore {
    display: none;
}

.thankAfter {
    display: block;
    text-align: center;
    margin-top: 150px;

    h1 {
        font-size: 2.2rem;
        margin-bottom: 50px;
    }

    a {
        font-size: 2rem;
        text-decoration: none;
        color: #000;
        padding: 20px 40px;
        border-radius: 25px;
        background-color: #E2D89B;
        box-shadow: 2px 3px 5px #d9d9d9;
    }
}

main {
    font-size: 1.2rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    margin: 0 50px 40px;

    .title {
        margin-bottom: 15px;
    }

    h3 {
        font-weight: normal;
        margin-bottom: 3px;
    }

    .input {
        width: 140px;
        padding: 4px;
        border-radius: 10px;
        border: rgba(0, 0, 0, 0.25) solid 1px;
    }

    #date {
        width: 180px;
        padding: 4px;
        border-radius: 10px;
        border: rgba(0, 0, 0, 0.25) solid 1px;
    }

    .thankInput {
        width: 100%;
        height: 100px;
        padding: 4px;
        border-radius: 10px;
        border: rgba(0, 0, 0, 0.25) solid 1px;
    }

    .centerThank {
        text-align: center;

        .thankBtn {
            width: 150px;
            height: 45px;
            font-size: 1.4rem;
            background-color: #E2D89B;
            color: #fff;
            border-radius: 10px;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5eaee;
    height: 75px;

    .footerLi {
        display: flex;
        gap: 32px;
        justify-content: space-evenly;
        position: sticky;
        bottom: 0;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;

            p {
                font-size: 1rem;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}