body {
    font-size: 62.5%;
    margin: 30px 50px 0;
}

.title {
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
}

main {
    font-size: 1.2rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;

    h3 {
        font-weight: normal;
        margin-bottom: 3px;
    }

    .input {
        width: 130px;
        padding: 4px;
        border-radius: 10px;
        border: rgba(0, 0, 0, 0.25) solid 1px;
    }

    .thankInput {
        width: 100%;
        height: 100px;
        padding: 4px;
        border-radius: 10px;
        border: rgba(0, 0, 0, 0.25) solid 1px;
    }

}

h2 {
    text-align: center;

    .thankBtn {
        width: 150px;
        height: 45px;
        font-size: 1.4rem;
        background-color: #E2D89B;
        color: #fff;
    }
}