html {
    font-size: 62.5%;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #C8F7FF;
    border-top: #000 solid 2px;
    padding: 10px 20px 0;

    .logo {
        width: 120px;
    }

    .hamburgerWrap {
        #input {
            width: auto;
            display: none;
        }
    }

    #input:checked~.nav {
        right: -10%;
        animation: 0.5s fadeIn;
    }

    #input:checked~.main {
        opacity: 0.2;
        animation: 0.5s;
    }

    .nav {
        padding: 10px 30px 0 0;
        position: fixed;
        top: 100px;
        right: -80%;
        transition: right 0.3s ease;
        width: 80%;
        height: 60%;
        background-color: #d9d9d9;
        border-radius: 5%;
        z-index: 10;
    }

    .accordion {
        padding: 0 19px;
        margin: 10px 0;

        .accordionWrap {
            font-size: 2rem;
            animation: 0.2s ease;
        }

        .accordionContent {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.6rem;
            margin: 20px 0;
        }
    }
}


.profileWrap {
    height: 125px;
    margin: 20px 20px 30px;
    border: #d9d9d9 solid 1px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

    .profileContent {
        display: flex;
        align-items: center;
        padding: 23px 20px;

        .profileImg {
            width: 70px;
            height: 70px;
            border-radius: 100%;
        }

        .profileInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 15px;

            #profileNum {
                font-size: 1.5rem;
                padding-left: 3px;
            }

            .profileName {
                font-size: 2.4rem;
            }

            .profileId {
                padding-left: 24px;
                height: 25px;
                line-height: 22px;
                position: relative;
                font-size: 1.4rem;
                text-decoration: none;
                color: #000;
                border: #d9d9d9 solid 1px;
                border-radius: 5px;

                &::before {
                    margin: 0 auto;
                    position: absolute;
                    content: "";
                    left: 0;
                    padding: 0;
                    width: 24px;
                    height: 24px;
                    background-image: url(../images/menu_icon.png);
                }
            }
        }
    }
}

.taskWrap {
    position: relative;
    height: 110px;
    margin: 30px 20px 30px;
    padding: 5px 0 0 0;
    border: #d9d9d9 solid 1px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

    .taskTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        padding: 0 20px;

        h3 {
            font-size: 1.4rem;
            letter-spacing: -5%;
        }
    }

    .border {
        position: absolute;
        display: block;
        z-index: 10;
        top: 35px;
        right: 0;
        bottom: 0;
        left: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.25);
    }

    .taskInner {
        padding: 5px 20px 0;

        .backlog {
            font-size: 1rem;
            color: #fff;

            span {
                background-color: #5E70FC;
                padding: 2px 5px;

            }
        }

        .tasks {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                font-size: 1.4rem;
            }

        }
    }
}

.show {
    display: inline-block;
    width: 100px;
    height: 25px;
    border: #d9d9d9 solid 1px;
    padding: 4px 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.show::after {
    content: "▼";
    position: absolute;
    right: 33px;
    top: 20px;
    transform: translateY(-60%) rotate(-90deg);
    transition: transform 0.3s ease;
    pointer-events: none;
}

.show.open::after {
    transform: translateY(-60%) rotate(0);
}


.thantWrap {
    position: relative;
    height: 150px;
    margin: 30px 20px 20px;
    padding: 0 0 7px;
    border: #d9d9d9 solid 1px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    overflow: scroll;


    .thankTitle {
        display: flex;
        justify-content: space-between;
        position: sticky;
        background-color: #fff;
        top: 0;
        padding: 10px 20px 5px;

        h3 {
            font-size: 1.4rem;
        }

        .show::after {
            position: absolute;
            right: 33px;
            top: 25px;
            transform: translateY(-60%) rotate(-90deg);
            transition: transform 0.3s ease;
            pointer-events: none;
        }

        .show.open::after {
            transform: translateY(-60%) rotate(0);
        }
    }

    .border {
        position: absolute;
        display: block;
        z-index: 10;
        top: 40px;
        right: 0;
        bottom: 0;
        left: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.25);
    }

    .thankInner {
        padding: 0 20px 0;

        .thanks {
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;

            .thankContent {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    font-size: 1.4rem;

                }
            }

        }
    }

}

#taskSelect {
    position: relative;
    appearance: base-select;
    align-items: center;
    width: 90%;
}

#taskSelect::picker(select) {
    appearance: base-select;
    border: #cf256d 1px solid;
    border-radius: 5px;
    transition: 0.5s;
}

#thankSelect {
    position: relative;
    appearance: base-select;
    align-items: center;
    width: 90%;
}

#thankSelect::picker(select) {
    position: absolute;
    bottom: 0;
    appearance: base-select;
    border: #cf256d 1px solid;
    border-radius: 5px;
    transition: 0.5s;
}

.todo {
    width: 90%;
    padding: 4px;
}

.done {
    padding: 4px;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5eaee;
    height: 75px;

    .footerLi {
        display: flex;
        gap: 32px;
        justify-content: space-evenly;
        position: sticky;
        bottom: 0;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;

            p {
                font-size: 1.4rem;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}